.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-card {
  width: 100%;
}

.table-card {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

.form-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.coluna-acoes {
  display: flex;
  gap: 4px;
  align-items: center;
}