**/[Bb]in/
**/[Oo]bj/
**/.vs/
*.suo
*.user

**/appsettings.Development.json

**/node_modules/
**/dist/
**/.angular/cache/
*.log
npm-debug.log*
.env

.DS_Store
Thumbs.db

**/appsettings.Development.json